.todo-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title {
  color: #000000;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}
.button {
  color: #ff0b37;
  border: 3px solid #ff0b37;
  height: 38px;
  width: 140px;
  border-radius: 10px;
  font-family: 'Roboto';
}
